@import "tailwindcss";

@utility container {
  margin: 0 auto;
}

@theme {
  --color-primary: #282727;
  --color-secondary: #98a1bc;
  --color-brand: #;
  --color-text: #;

  --font-headerFont: "Cal Sans", sans-serif;
  --font-textFont: "Noto Sans", sans-serif;
}

green {
  color: #97b067;
  color: #347433;
}

red {
  color: #e14434;
  color: #cb0404;
}

body {
  background-image: url('../public/chat-app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sada {
  background-color: #282727;
}

a {
  display: inline-block;
}

.asdsda {
  background-color: #00000096;
}


.EmojiPickerReact {
  background-color: #282727c6 !important;
 
  border-radius: 12px !important;
  color: white !important;
}

/* Search bar */
.EmojiPickerReact .epr-search-container input {
  background-color: #1c1c1c !important;
  color: white !important;
  border: none !important;
}

/* Category tabs */
.EmojiPickerReact .epr-category-nav {
  background-color: #2b2b2b !important;
}

/* Each emoji cell */
.EmojiPickerReact .epr-emoji {
  transition: transform 0.1s;
}
.EmojiPickerReact .epr-emoji:hover {
  transform: scale(1.15);
}